name: Python Workflow

on: [push, pull_request]

jobs:
  test:
    name: Testes
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v2

    - name: Configurar ambiente Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Instalar dependências
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Executar testes
      run: |
        python -m unittest discover
